@using Music_JWT_NetCore.Dtos
@model MusicDto
@{
    ViewData["Title"] = "Home Page";
    int sayi = 1;
}

    <!-- Track Section Begin -->
    <section class="track spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="section-title" id="music-title">
                        @if (string.IsNullOrEmpty(Model.PremiumName))
                        {
                            <h2>Müzik Listesini Görüntülemek İçin <span id="music-login" style="text-decoration: underline; cursor: pointer;">Giriş Yapınız</span></h2>
                        } else
                        {
                            <h2>@Model.PremiumName Premium Music Listesi</h2>
                        }
                        <h1>Music Listesi</h1>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="track__all">
                        <a href="#" class="primary-btn border-btn">View all tracks</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 p-0">
                    <div class="track__content nice-scroll" id="music-list">
                        @foreach (var item in Model.Musics)
                        @* @for (int i = 0; i<5; i++) *@
                        {
                            <div class="single_player_container">
                                <h4>@item.MusicName</h4>
                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_@(sayi)"
                                    data-url="music-files/@(sayi).mp3"></div>
                                <div class="jp-audio jp_container_@(sayi)" role="application" aria-label="media player">
                                    <div class="jp-gui jp-interface">
                                        <!-- Player Controls -->
                                        <div class="player_controls_box">
                                            <button class="jp-play player_button" tabindex="0"></button>
                                        </div>
                                        <!-- Progress Bar -->
                                        <div class="player_bars">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div>
                                                        <div class="jp-play-bar">
                                                            <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                        </div>
                                        <!-- Volume Controls -->
                                        <div class="jp-volume-controls">
                                            <button class="jp-mute" tabindex="0"><i
                                                    class="fa fa-volume-down"></i></button>
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            sayi++;
                        }
                    </div>
                </div>
                <div class="col-lg-5 p-0">
                    <div class="track__pic">
                        <img src="img/track-right.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Track Section End -->
